* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
h1,
h2,
h3 h4,
h5 h6,
p,
a,
span {
    font-family: fangsong, sans-serif;

}

.section-1 {
    justify-content: center;
    padding: 8px 0;
    gap: 9px;
    background-color: #adc9a6;
}

.section-2 {
    background-color: #153c3c;
    padding: 30px 0;
}

.img-star-wrapper {
    padding: 5px;
    align-items: center;
}

.img-star {
    display: block;
}

.wrapper-1 {
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-img {
    display: flex;

}

.link {
    color: #dde4e4;
    padding: 9px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 24px;
}

.text-link {
    font-size: 15px;
    font-weight: 400
}

.button {
    width: 106px;
    height: 40px;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.14px;
    line-height: 25px;
    background-color: #84A17D;
    border-radius: 4px;
}

.link-flex {
    display: flex;
    flex-grow: 2;
    padding: 0 72px;
}

.section-3 {
    display: flex;
    justify-content: center;
    padding: 100px 80px;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #F3F7F2;
    width: 283px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-text {
    font-size: 18px;
    color: #153C3C;
    font-weight: normal;
    line-height: 32px;
}

.big-text {
    display: flex;
    flex-direction: column;
    background-image: url(/rist\ project/Vector.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.text {
    display: flex;
    justify-content: center;
    padding: 11px;
    font-size: 62px;
    letter-spacing: 2.88px;
    line-height: 80px;
    font-weight: normal;
    text-align: center;
}

.pictures {
    padding-top: 80px;
}

.section-4 {
    display: flex;
    justify-content: center;
    padding: 60px 190px;
    flex-direction: column;
    align-items: center;
}

.title2 {
    background-color: #F3F7F2;
    width: 178px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 40px;
    padding-top: 96px;
}

.link-landing {
    text-decoration: none;
    padding: 40px 56px;
}

.text-link-landing {
    width: 400px;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.96px;
    color: #172426;
}

.landing {
    background-color: #F2F8F8;
    Width: 510px;
    Height: 613px;
    border-radius: 12px;
    display: grid;
}
    
.landing-page-img {
    width: 398px;
    height: 501px;
    align-self: flex-end;
    justify-self: center;
}

.section-5 {
    display: flex;
    justify-content: center;
    padding: 60px 190px;
    flex-direction: column;
    align-items: center;
}

.title3 {
    background-color: #F3F7F2;
    width: 125px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-6 {
    display: flex;
    justify-content: center;
    padding: 60px 190px;
    flex-direction: column;
    align-items: center;
}
.title4 {
    background-color: #F3F7F2;
    width: 81px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-7 {
    display: flex;
    justify-content: center;
    padding: 60px 190px;
    flex-direction: column;
    align-items: center;
}
.title5 {
    background-color: #F3F7F2;
    width: 108px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-8 {
    display: flex;
    justify-content: center;
    padding: 60px 190px;
    flex-direction: column;
    align-items: center;
}
.title6 {
    background-color: #F3F7F2;
    width: 93px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carts{
    background-color: #F2F8F8;
    Width: 510px;
    Height: 120px;
    border-radius: 12px;
    display: grid;
}
.link-carts {
    text-decoration: none;
    padding: 44px 56px;
}
.img-arrow{
    display: flex;
    justify-content: end;
    align-items: center;
   

}
.arrow{
    display: block;
}
