* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
h1,
h2,
h3,
h4,
h5 h6,
p,
a,
span {
    font-family: fangsong, sans-serif;

}

.section-1 {
    justify-content: center;
    padding: 8px 0;
    gap: 9px;
    background-color: #adc9a6;
}

.img-star-wrapper {
    padding: 5px;
    align-items: center;
}

.img-star {
    display: block;
}

.wrapper-1 {
    max-width: 1280px;
    width: 100%;
    padding: 0px 32px;
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;


}

.section-2 {
    background-color: #153c3c;
    padding: 30px 0;
}

.align-img {
    display: flex;

}

.link {
    color: #dde4e4;
    padding: 9px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.text-link {
    font-size: 15px;
    font-weight: 400;

}

.button {
    margin-left: auto;


}

.button-text {

    width: 106px;
    height: 40px;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.14px;
    line-height: 25px;
    background-color: #84A17D;
    border-radius: 4px;




}

.link-flex {
    margin-left: 72px;
}

.section-3 {
    display: flex;
    justify-content: center;
    margin: 100px 80px;
    flex-direction: column;
    align-items: center;

}

.title {
    background-color: #F3F7F2;
    width: 283px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-text {
    font-size: 18px;
    color: #153C3C;
}

.big-text {
    display: flex;
    flex-direction: column;
    background-image: url(/rist\ project/Vector.png);

}

.text1 {
    display: flex;
    justify-content: center;
    margin-top: 11px;
    font-size: 62px;
    letter-spacing: 2.88px;
    line-height: 80px;
}

.text2 {
    font-size: 63px;
    letter-spacing: 2.88px;
    line-height: 80px;
    display: flex;
    justify-content: center;
}

.text3 {
    font-size: 64px;
    letter-spacing: 2.88px;
    line-height: 80px;
    display: flex;
    justify-content: center;

}

/*.img-img {
    background-image: url("/ristproject/Vector.png");
    width: 241px;
    height: 23px;
    margin-top: -20px;
}

.img-blot {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;




}


.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 1280px;
}